
.toolbar-container{
    --background: #28b156;
    align-items: flex-end;
}
.hydrated{
    --color:rgb(78, 74, 74);
    font-family: 'Salsa';
}
.h1-page{
    margin:0;
    font-size:40;
    font-family: 'Salsa'
}
.cart-item-length{
    position: absolute;
    z-index: 1;
    margin: 0;
    font-Size: 10px;
    top: 2px;
    left: 9px;
    background-Color: red;
    border-Radius: 100%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-Content: center;
    color:white
}
.search-block{
    position: sticky;
    width: 96%;
    display: flex;
    background-color: white;
    overflow-y: scroll;
    z-index: 102;
    box-shadow: 0px 0px 5px lightblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 7px;
}
.floating-whatsapp{
    height: 72px;
    background: white;
    border-radius: 50%;
    width: 72px;
    z-index: 105;
    position: fixed;
    bottom: 5px;
    right:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @media screen and (max-width: 380px) {
    .hydrated{
        font-size: 15px;
    }
  } */